.row {
    margin: 0;
}

.btn-delete {
    background-color: rgb(243, 39, 39);
}

.invalid-feedback {
    color: #fd1414 !important;
}

.flash-message {
    width: 70%;
    margin: auto;
}

.modal-content {
    background-color: #001e1ef0 !important;
}

.w-15 {
    width: 15%;
}